mixin ClubMemberList
  +Section#ClubMemberList
    h2 #{data}
    table.table.table-hover
      thead
        tr
          th(scope="col") #
          th(scope="col") First
          th(scope="col") Last
          th(scope="col") Handle
      tbody
        for person in personList ? personList : []
          tr
            th(scope="row") #{person.id}
            td #{person.koreanName}
            td #{person.englishName}
            td #{person.emailAddress}
